venv/
*.zip
*.exe
*.build/
*.dist/
*.onefile-build/
*.xml
*BACKUP*
*OLD*
games/
stockfish*
__pycache__/
engine_test.py
web/
docs/html/
docs/latex/
.vscode/
*parquet
release/Windows/piece_images/
release/Linux/piece_images/
.pytest_cache/
*.bin
*.run